/* desktop */
body {
  background-color: #e5e5e5;
  row-gap: 0.25rem;
  display: grid;
}
p {
  font-size: 32px;
  font-weight: bold;
  color: #de2f30;
  font-family: "Barlow", sans-serif;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}
.blue-bg {
  background-color: #277f87;
}
.red-bg {
  background-color: #de2f30;
}
.yellow-bg {
  background-color: #f7d168;
}
header,
.third-block,
footer {
  border: 0.5rem solid black;
}
.first-block {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 0.25rem solid black;
  padding: 0.75rem;
  gap: 0.75rem;
}
.second-block {
  border-top: 0.25rem solid black;
  padding: 0.75rem;
}
.third-block {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.third-block-one {
  border-right: 0.25rem solid black;
}
.third-block-one-first {
  padding: 0.75rem;
  gap: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.third-block-one-second {
  padding: 0.75rem;
  row-gap: 0.75rem;
  display: grid;
}
.third-block-two {
  row-gap: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  border-left: 0.25rem solid black;
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  header,
  .third-block,
  footer {
    border: 1rem solid black;
  }
  .first-block {
    border-bottom: 0.5rem solid black;
    padding: 1.5rem;
  }
  .second-block {
    border-top: 0.5rem solid black;
    padding: 1.5rem;
  }
  .third-block {
    grid-template-columns: 1fr;
  }
  .third-block-one-first {
    padding: 1.5rem;
    row-gap: 1rem;
    column-gap: 2rem;
  }
  .third-block-one-second {
    padding: 1.5rem;
  }
  .third-block-two {
    border-left: none;
    padding: 1.5rem;
  }
  .third-block-one {
    border-right: none;
  }
}
/* mobile  */
@media screen and (max-width: 768px) {
  header,
  .third-block,
  footer {
    border: 1rem solid black;
  }
  .first-block,
  .third-block-one-first,
  .third-block {
    grid-template-columns: 1fr;
  }
  .first-block {
    border-bottom: 0.5rem solid black;
  }
  .third-block-one {
    border-bottom: 0.5rem solid black;
  }
  .third-block-two {
    border-top: 0.5rem solid black;
  }
  .first-block,
  .second-block,
  .third-block-one-first,
  .third-block-one-second,
  .third-block-two {
    padding: 1rem;
  }
  .second-block {
    border-top: 0.5rem solid black;
  }
  p {
    color: #277f87;
  }
  .blue-bg {
    background-color: #de2f30;
  }
  .third-block-two {
    border-left: none;
  }
  .third-block-one {
    border-right: none;
  }
}
